<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <style>
        body {
            background-color: lightblue;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: navy;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="password"] {
            width: 200px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 3px;
        }

        button[type="submit"] {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: navy;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/api/v1/resetpassword" method="POST">
        <label for="newPassword">New Password:</label>
        <input type="text" value="<%= token %>" id="token" name="token" hidden>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>